/*VARIABLES*/
:root{

    /*Paleta de colores*/ 
    --color_1:#452829; /* cambiar colores*/
    --color_2:#57595B;
    --color_3:#F3E8DF;
    --color_4:#E8D1C5;
    --color_5:#EBEDEC;

    /*Paleta de colores neo andinos*/ 

    --color-neo_1:#1D1816; 
    --color-neo_2:#4C4EB5;
    --color-neo_3:#F403B8;
    --color-neo_4:#B1FD03;
    --color-neo_5:#FF8651;
    --color-neo_6:#F6F6F6;
    

    --padding-1:px;
    --padding-2:px; 
    --padding_6:px;   
    --padding_3:px;
    --padding_4:px;   
    --padding_5:px;     
    --gap-1:px;

    /*Escala tipografica*/

    --h1:19.20px;
    --h2:23.04px;
    --h3:27.65px;
    --h4:33.18px;
    --h5:39.81px;
    --h6:47.78px;
    --p:16px;
    --sm:13.33px;
    --xsm:11.11px;

    --serif:"Judson","serif";


}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color_4); /* agregar el color*/
    font-family: "","";  /*agregar tipografia*/
}
/* SELECTORES PARA CADA ETIQUETA TIPOGRAFICA*/

/* INICIO MODULARIZACION*/

/* FIN MODULARIZACION*/

/* INICIO HEADER*/
.header{
    display: flex;
    flex-direction: column;
    height: 400px;
    background-color:var(--color_2);
}
.header_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu_nav_ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.boton_menu{
    background-color: var(--azul);
    padding:20px 30px;
    text-decoration: none;
    text-align: center;
    font-size:var(--h2);
    transition: 300ms all;
}
.boton_menu:hover{
    background-color: var(--celeste);
    color: var(--azul);
}
/* FIN HEADER*/

/* INICIO INDEX*/
/* FIN INDEX*/

/* INICIO  LEYENDAS*/
/* FIN LEYENDAS*/

/* INICIO  MITOS*/
/* FIN MITOS*/

/* INICIO MI COLECCION*/
/* FIN MI COLECCION*/

/* INICIO  PERFIL*/
/* FIN PERFIL*/

/* INICIO  SOBRE EL PROYECTO*/
/* FIN SOBRE EL PROYECTO*/ 

/* INICIO  CREDITOS*/
/* FIN CREDITOS*/

/* INICIO DE FOOTER */
footer{

}
/* FIN FOOTER*/





/*MEDIA QUERIES Y BREAKPOINTS*/



/*DISPOSITIVOS MÓVILES GRANDES */
@media (min-width:320px){
    .contenedor{
    }
}
/* TABLETS */
@media (min-width:768px){
    .contenedor{
    }
}
/* LAPTOPS Y DESKTOP PEQUEÑAS */
@media (min-width:1024px){
    .contenedor{
    }
}
/* DESKTOPS Y TVS GRANDES */
@media (min-width:1280px){
    .contenedor{
    }
}


