/*Importacion de la tipografia*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');



/*VARIABLES*/
:root{

    /*Paleta de colores*/ 
    --color_1:#452829; /* cambiar colores*/
    --color_2:#57595B;
    --color_3:#F3E8DF;
    --color_4:#E8D1C5;
    --color_5:#960018;

    /*Paleta de colores neo andinos*/ 

    --color-neo_1:#1D1816; 
    --color-neo_2:#4C4EB5;
    --color-neo_3:#F403B8;
    --color-neo_4:#B1FD03;
    --color-neo_5:#FF8651;
    --color-neo_6:#F6F6F6;
    

    --padding-1:px;
    --padding-2:px; 
    --padding_6:px;   
    --padding_3:px;
    --padding_4:px;   
    --padding_5:px;     
    --gap-1:px;

    /*Escala tipografica*/

    --h6:19.20px;
    --h5:23.04px;
    --h4:27.65px;
    --h3:33.18px;
    --h2:39.81px;
    --h1:47.78px;
    --p:16px;
    --sm:13.33px;
    --xsm:11.11px;

    --serif:"IBM Plex Mono","serif";


}

/*VARIANTES TIPOGRAFICAS*/

/*Aun hay que modificar*/

.ibm-plex-mono-thin { 
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}




*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color_4); /* agregar el color*/
    font-family: 'IBM Plex Mono';  /*agregar tipografia*/
}
/* SELECTORES PARA CADA ETIQUETA TIPOGRAFICA*/

/* INICIO MODULARIZACION*/

/* FIN MODULARIZACION*/

/* INICIO HEADER*/
.header{
    display: flex;
    flex-direction: column;
    /*height: 400px;*/
    background-color:var(--color_2);
}
.header_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu_nav_ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.boton_menu{
    background-color: var(--color_2);
    padding:20px 30px;
    text-decoration: none;
    text-align: center;
    font-size:var(--h6);
    transition: 300ms all;
}
.boton_menu:hover{
    background-color: var(--color-neo_2);
    color: var(--color-neo_6);
}
/* FIN HEADER*/

/* INICIO INDEX*/
/* FIN INDEX*/

/* INICIO  LEYENDAS*/
/* FIN LEYENDAS*/

/* INICIO  MITOS*/
/* FIN MITOS*/

/* INICIO MI COLECCION*/
/* FIN MI COLECCION*/

/* INICIO  PERFIL*/
/* FIN PERFIL*/

/* INICIO  SOBRE EL PROYECTO*/
/* FIN SOBRE EL PROYECTO*/ 

/* INICIO  CREDITOS*/
/* FIN CREDITOS*/

/* INICIO DE FOOTER */
footer{

}
/* FIN FOOTER*/





/*MEDIA QUERIES Y BREAKPOINTS*/



/*DISPOSITIVOS MÓVILES GRANDES */
@media (min-width:320px){
    .contenedor{
    }
}
/* TABLETS */
@media (min-width:768px){
    .contenedor{
    }
}
/* LAPTOPS Y DESKTOP PEQUEÑAS */
@media (min-width:1024px){
    .contenedor{
    }
}
/* DESKTOPS Y TVS GRANDES */
@media (min-width:1280px){
    .contenedor{
    }
}


